*{
    margin: 0;
}

.container{
    margin: auto;
    width: 40%;
    height: 50vh;
    background-color: #1c3a27;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 150px;
    border-radius: 30px;
    padding-top: 30px;
}

.input{
    padding-bottom: 10px;
    padding-left: 50px;
    padding-top: 10px;
}

input{
    height: 20px;
    border-radius: 30px;
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 50%;
}

.button{
    padding-left: 50px;
    padding-top: 20px;
}

button{
    padding: 10px 20px 10px;
    border-radius: 30px;
    background-color: #53c351;
    color: white;
    font-size: 16px;
}

img{
    position: absolute;
    left: 800px;
    top: 135px;
}
